<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <form action="">
            <input type="text" v-model="input">
            <input type="submit" value="新增項目" @click.prevent="addTodo()">
        </form>
        <div>
            <div v-for="todo of todos">{{todo}}</div>
        </div>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    input:'',
                    todos:[
                        '寫作業','洗衣服'
                    ]
                }
            },
            methods:{
                addTodo(){
                    this.todos.push(this.input);
                    this.input = '';
                }
            }
        }).mount('#app')
    </script>
</body>
</html>